<div class="board">
  <div *ngFor="let column of columns" class="column-container">
    <button (click)="addCard(column.id)">add</button>
    <h2>{{ column.title }}</h2>

    <div 
      class="column"
      cdkDropList
      [id]="column.id.toString()"
      [cdkDropListConnectedTo]="getColumnsId()"
      [cdkDropListData]="column.cards"
      (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of column.cards" class="card" cdkDrag>
          <app-card [card]="item"></app-card>
        </div>
    </div>
  </div>
</div>